body {
    background: black;
    color: whitesmoke;
}

#wrapper {
    width: 100%;
    margin: auto;
    padding: 0 10%;
}

#upload {
    width: 600px;
}

#images img {
    margin: 5px;
    cursor: move;
}

#images .placeholder {
    background: whitesmoke;
    opacity: 0.2;
}

#images #controls {
    width: 100%;
}

#images #controls #page-size-select {
    width: 20%;
    float: left;
    display: inline-block;
}

#images #controls #page-select {
    width: 80%;
    float: right;
    display: inline-block;
    padding: 15px;
}

#images #controls #page-select .page-arrow {
    color: #CCC;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: -4px;
}

#images #controls #page-select .page-arrow a {
    color: inherit;
}
