@font-face {
    font-family: Impacted;
    src: url('../fonts/Impacted.ttf');
}

@font-face {
    font-family: BasicTitle;
    src: url('../fonts/basictitlefont.ttf');
}

body {
    background: black;
    color: whitesmoke;
}

#wrapper {
    width: 600px;
    margin: auto;
}

#title {
    font-family: BasicTitle, sans-serif;
    font-size: 160px;
    text-align: left;
}

#jeanne-layet {
    font-family: Impacted, sans-serif;
    font-size: 30pt;
    position: fixed;
    top: 42px;
    right: 10px;
    opacity: 0.4;
}

#images {
    margin-top: 180px;
}

#images img {
    display: block;
    width: 100%;
    margin: 5px 0;
    cursor: pointer;
}

#images .LazyLoad.is-visible {
    height: auto !important;
}